<div id="navbar">
    <div id="welcome">
        <img src="favicon.png"/>
        <div>
            <h1 [style.line-height.rem]="4">unihouse</h1>
            <span></span>
        </div>
    </div>
    <div style="margin: auto 5px; display: flex;">
        <div style="margin: auto .25rem;"> <app-starrez-tracker-icon /></div>
        <tui-loader
            class="loader"
            [inheritColor]="true"
            [overlay]="true"
            [showLoader]="loading_user"
        >
            @if (user_status === 'authenticated') {
                
                @if (user_name) {
                    <a
                        size="m"
                        tuiDropdownOpen
                        type="button"
                        [tuiDropdown]="useractions"
                    >
                        <uc-initials-avatar 
                            [name]="user_name" 
                            [size]="'s'"
                        />
                    </a>    
                }
            } @else {
                <button tuiButton 
                    appearance="flat" 
                    iconStart="@tui.user"
                    (click)="fetch_credentials()" 
                    >
                </button>
            }
            
        </tui-loader>
    </div>
</div>

<ng-template #useractions>
    <div
        class="controls-card"
        tuiCardLarge
    >
        <header tuiHeader>
            <h2 tuiTitle>Rezscope</h2>
            <aside tuiAccessories>
                <app-theme-toggle-button></app-theme-toggle-button>
            </aside>
        </header>

        <section class="controls-content">
            Welcome to Rezscope!
        </section>
        <button 
            tuiButton
            appearance="flat"
            size="s" 
            (click)="user_service.clear_user_settings()"
        >
            Clear settings
        </button>

        <footer class="d-flex justify-content-between">
            <!-- <app-logout-button></app-logout-button> -->
            <!-- <div>v{{version}}</div> -->
        </footer>
    </div>
</ng-template>