
main {
    width: 100%;
    height: 100%;
}

body {
    height: 100%;
    background: var(--tui-base-01);
  }

tui-root {
    height: 100%;
    width: 100%;
    display: flex;
    // overflow-y: 100%;
    
}

.root-container {
    background: var(--tui-base-01);
    overflow-y: none;
    height: 100%;
    width: 100%;
    display: flex;
    padding-top: 48px;
}


.page-container {
    flex: 1 auto;
    flex-direction: column;
    height: 100%;
    width: 100%;
    overflow-y: auto;
    overflow-x: hidden;
}

rt-nav-header {
    position: fixed;
    z-index: 100;
}