
<tui-root [attr.tuiTheme]="theme">
  @if ($ready) {
    <div class="page-container">
    <rt-nav-header></rt-nav-header>
    <div class="root-container" [style.display]="'flex'">
        <rt-nav-sidebar [style.position]="'sticky'" [style.top.px]="48" height="100%"></rt-nav-sidebar>
        <div class="overflow-auto h-100" >
          <main tuiNavigationMain>
              <nav
                  tuiNavigationNav
                  [style.position]="'sticky'"
              >
                  <app-breadcrumb></app-breadcrumb>            
                  
                  <span tuiNavigationLogo>
                      <span tuiFade>{{activeroute.snapshot.routeConfig?.title}}</span>
                  </span>
                  <hr />
                  @if(tabs !== undefined){
                  <tui-tabs tuiFade [(activeItemIndex)]="activeTabIndex">
                      @for(tab of tabs; track tab.name) {
                          <button (click)="tabChange(tab.ext)" tuiTab>@if(tab.icon){<tui-icon icon="{{tab.icon}}"></tui-icon>&nbsp;&nbsp;}{{tab.name}}</button>
                      }
                  </tui-tabs>}
              </nav>
              <router-outlet />
          </main>
          <tui-scrollbar >
          </tui-scrollbar>
        </div>
    </div>
    </div>
  }
    <ng-container ngProjectAs="tuiOverContent">
    <!-- Content over app content -->
  </ng-container>
  <ng-container ngProjectAs="tuiOverDialogs">
    <!-- Content over dialogs -->
  </ng-container>
  <ng-container ngProjectAs="tuiOverAlerts">
    <!-- Content over alerts -->
  </ng-container>
  <ng-container ngProjectAs="tuiOverDropdowns">
    <!-- Content over dropdowns -->
  </ng-container>
  <ng-container ngProjectAs="tuiOverHints">
    <!-- Content over hints -->
  </ng-container>
  <app-generic-drawer></app-generic-drawer>
</tui-root>