<tui-root>

<app-navbar></app-navbar>
@if( active_tab > -1) {
    <button tuiButton (click)="test()">Try this</button>
}
<div>
    <header tuiHeader="h4">
        <hgroup tuiTitle>
            <h1>Welcome</h1>
            <!-- <p tuiSubtitle>{{username}} - {{tabid}}</p> -->
        </hgroup>
    </header>
    <!-- <div *ngTemplateOutlet="testing"></div> -->
</div>
<app-bulk-delete-transactions></app-bulk-delete-transactions>
<router-outlet></router-outlet>


<ng-template #testing>
<form
    id="selection-form"
    tuiAppearance="floating"
    tuiForm="m"
    [formGroup]="form"
    [style.max-width.rem]="32"
>
    <header tuiHeader>
        <h2 tuiTitle>
            Registration form
            <span tuiSubtitle>Tell us about yourself</span>
        </h2>
        <span tuiAccessories>
            
        </span>
    </header>
    <tui-notification appearance="warning">
        <h3 tuiTitle>
            Authenticity required
            <span tuiSubtitle>Please be honest and use your real data</span>
        </h3>
    </tui-notification>
    <tui-textfield>
        <label tuiLabel>Name</label>
        <input
            formControlName="name"
            placeholder="John Wick"
            tuiTextfield
        />
    </tui-textfield>
    @if(!form.controls['basic'].value) {
        <tui-textfield>
            <label tuiLabel>Email</label>
            <input
                formControlName="email"
                placeholder="john@wick.com"
                tuiTextfield
                type="email"
            />
        </tui-textfield>
        <label tuiLabel>
            <input
                formControlName="subscribe"
                tuiSwitch
                type="checkbox"
            />
            Subscribe for newsletter
            <tui-icon tuiTooltip="We will not send you spam, pinky promise!" />
        </label>
    }
    <footer>
        <button
            appearance="secondary"
            tuiButton
            type="button"
        >
            Cancel
        </button>
        <button
            tuiButton
            type="submit"
        >
            Submit
        </button>
    </footer>

</form>
</ng-template>


</tui-root>


